h1{
	color:black;
	font-family:Helvetica;
	margin-left:530px;
}

body {
	background-image:url("https://img.freepik.com/free-vector/watercolor-abstract-background-with-grunge-effect_1340-4291.jpg?size=338&ext=jpg"); 
}
